/* Custom scrollbar for CommentBox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d2def8 transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: #d2def8;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d2def8;
  border-radius: 4px;
}

